    /* Additional Styles */
    body {
      background-image: url('/html/img/background.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
    }
  
    .login-form {
      max-width: 500px;
      margin: 90px auto;
      padding: 40px;
      background: #fff;
      border-radius: 15px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
  
    .login-form h2 {
      text-align: center;
      margin-bottom: 30px;
      font-size: 24px;
    }
  
    .form-control {
      width: 100%;
    }
  
    .forgot-password-link {
      text-decoration: underline;
      color: #05004e;
    }